* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-weight: 300;
  min-height: 100vh;
  width: 100%;
  text-align: center;
  background-color: #f1f2f3;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
}
h1 > span {
  font-size: 14px;
  display: block;
}

#chart {
  background-color: white;
}

.bar {
  fill: #6491c9;
}
.bar:hover {
  fill: #2b3c8f;
}
